#change landing page
DirectoryIndex index.php index.html

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

FileETag None

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 60 seconds"
ExpiresByType image/jpeg "access plus 60 seconds"
ExpiresByType image/gif "access plus 60 seconds"
ExpiresByType image/png "access plus 60 seconds"
ExpiresByType text/css "access plus  60 seconds"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 60 seconds"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 600 seconds"
</IfModule>
## EXPIRES CACHING ##
RewriteEngine on
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
