#change landing page
DirectoryIndex index.php index.html

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

FileETag None

## EXPIRES CACHING ##
<IfModule mod_headers.c>
# 10 min
<FilesMatch “.(ico|gif|jpg|jpeg|png|flv|pdf)$”>
Header set Cache-Control “max-age=600”
</FilesMatch>
# 1 min
<FilesMatch “.(js|css|swf)$”>
Header set Cache-Control “max-age=60”
</FilesMatch>
# 2 min
<FilesMatch “.(html|htm|txt|php)$”>
Header set Cache-Control “max-age=120”
</FilesMatch>
</IfModule>

EXPIRES CACHING ##



RewriteEngine on
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
